@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans+Narrow');

/**
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; 

**/
.navbar-header .logotopo{
  padding-top: 10px;
  padding-bottom: 5px;
}
.carousel-inner img{
  margin: auto;
}
.navbar-ismweb{
  height: 100px;
  border-radius: 0;
  background-color: #FFF;
  border: none; 
  font-family: 'Open Sans Condensed', sans-serif; 
}
.navbar-ismweb a {
  color: #000;
  font-size: 20px
}
.margin-top10{ margin-top: 10px; } 
.margin-top20{ margin-top: 20px; }
.margin-top25{ margin-top: 25px  }
.margin-top30{ margin-top: 30px  }
.margin-top40{ margin-top: 40px  }
.margin-top50{ margin-top: 50px  }

.margin-bottom5  { margin-bottom:  5px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-bottom30 { margin-bottom: 30px; }
.margin-bottom40 { margin-bottom: 40px; }
.margin-bottom50 { margin-bottom: 50px; }

.intro-section {
  margin-bottom: : 20px;
}
.intro-section h2 {
  padding-bottom: 20px;
  margin: 0px;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-bottom:5px;
}
.intro-section p {
  text-align: justify-all;
  margin-top: 10px;
  font-size: 20px;
}

/* ESPECIALIDADES */

.services-section h2 {
  padding-bottom: 15px;
  margin: 0px;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-bottom:20px;
}

.services-section .especialidades-item {   /* Transparencia */
  text-align: center;
  padding: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.services-section .especialidades-item img {
  height: 150px;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;  
 }
.services-section .especialidades-item h2 {    /* Linha */
  padding-bottom: 15px;
  margin: 0px;
  font-size: 30px;
 }

/* ACESSO RÃPIDO */
.about-section { 
  background: url('../img/acesso-rapido.jpg');
 }

.about-section .acesso-rapido-item {   /* Transparencia */
  text-align: center;
  background: rgba(255, 255, 255, 0.50);
  padding: 25px;
  margin-bottom: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.about-section .acesso-rapido-item img {
  height: 130px;
  width: 130px;
  margin-bottom: 30px;
  margin-top: 30px;  
}
.events-section {
  background: rgba(255, 255, 255, 0.50);
}
.events-section h2 {    /* Linha */
  padding-bottom: 50px;
  margin: 0px;
  font-size: 30px;
}
.events-section .evento p {
  font-size: 25px;
  height: 180px;
}

  .contact-section {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .contact-section h2{
    border-bottom: #00009C solid 3px;
    padding-bottom: 15px;
    margin: 0px;
    font-size: 23px;
  }
  .contact-section form{
    padding: 15px;
  }
  .fb-page{
    padding-top: 25px;
    text-align: center;
  }
  footer {
  color: white;
  }
  footer h3 {
    margin-bottom: 20px;
  }
  footer .footer-above {
    padding-top: 10px;
    background-color: #2C3E50;
  }
  footer .footer-col {
    margin-bottom: 25px;
  }
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
  }


  /* Icones social */

  .social-icones {
    display: inline-block;
    list-style: none;
  }

  .social-icones li {
    float: left;
    width: auto !important;
    vertical-align: top;
    clear: none !important;
    line-height: 70px;
  }

  .he_social {
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    border-radius: 50%;
    display: block;
    text-decoration: none; 
    -webkit-border-radius:50%;       /* corrigi erros em alguns navegadores */ 
    -moz-border-radius:50%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  .he_social:hover {
    color: $FFF;
    opacity: 0.8;
  }

  .ico-facebook {
    background-color: #3b5998;
    color: #F8f8f8;
    margin-top: 100px; 
  }

  .ico-twitter {
    background-color: #00a9ed;
    color: #F8f8f8; 
  }

  .ico-youtube {
    background-color: #cd1b20;
    color: #F8f8f8;
  }

  .ico-instagram {
    background-color: #beb3a8;
    color: #F8f8f8; 
  }

  .ico-google-plus {
    background-color: #cd1111;
    color: #F8f8f8; 
  }

